{
    "height": 493,
    "width": 1674,
    "all_keys": [
        {
            "key": "esc",
            "loc_x": 79,
            "loc_y": 152
        },
        {
            "key": "1",
            "loc_x": 250,
            "loc_y": 155
        },
        {
            "key": "2",
            "loc_x": 339,
            "loc_y": 155
        },
        {
            "key": "3",
            "loc_x": 425,
            "loc_y": 155
        },
        {
            "key": "4",
            "loc_x": 511,
            "loc_y": 155
        },
        {
            "key": "5",
            "loc_x": 600,
            "loc_y": 155
        },
        {
            "key": "6",
            "loc_x": 684,
            "loc_y": 155
        },
        {
            "key": "7",
            "loc_x": 770,
            "loc_y": 155
        },
        {
            "key": "8",
            "loc_x": 858,
            "loc_y": 155
        },
        {
            "key": "9",
            "loc_x": 947,
            "loc_y": 155
        },
        {
            "key": "0",
            "loc_x": 1034,
            "loc_y": 155
        },
        {
            "key": "a",
            "loc_x": 254,
            "loc_y": 288
        },
        {
            "key": "b",
            "loc_x": 643,
            "loc_y": 361
        },
        {
            "key": "c",
            "loc_x": 472,
            "loc_y": 358
        },
        {
            "key": "d",
            "loc_x": 423,
            "loc_y": 290
        },
        {
            "key": "e",
            "loc_x": 384,
            "loc_y": 216
        },
        {
            "key": "f",
            "loc_x": 512,
            "loc_y": 291
        },
        {
            "key": "g",
            "loc_x": 598,
            "loc_y": 292
        },
        {
            "key": "h",
            "loc_x": 688,
            "loc_y": 292
        },
        {
            "key": "i",
            "loc_x": 816,
            "loc_y": 218
        },
        {
            "key": "j",
            "loc_x": 774,
            "loc_y": 287
        },
        {
            "key": "k",
            "loc_x": 863,
            "loc_y": 287
        },
        {
            "key": "l",
            "loc_x": 949,
            "loc_y": 287
        },
        {
            "key": "m",
            "loc_x": 817,
            "loc_y": 361
        },
        {
            "key": "n",
            "loc_x": 729,
            "loc_y": 359
        },
        {
            "key": "o",
            "loc_x": 904,
            "loc_y": 217
        },
        {
            "key": "p",
            "loc_x": 990,
            "loc_y": 220
        },
        {
            "key": "q",
            "loc_x": 205,
            "loc_y": 221
        },
        {
            "key": "r",
            "loc_x": 470,
            "loc_y": 217
        },
        {
            "key": "s",
            "loc_x": 339,
            "loc_y": 290
        },
        {
            "key": "t",
            "loc_x": 555,
            "loc_y": 218
        },
        {
            "key": "u",
            "loc_x": 729,
            "loc_y": 217
        },
        {
            "key": "v",
            "loc_x": 557,
            "loc_y": 357
        },
        {
            "key": "w",
            "loc_x": 292,
            "loc_y": 218
        },
        {
            "key": "x",
            "loc_x": 383,
            "loc_y": 361
        },
        {
            "key": "y",
            "loc_x": 643,
            "loc_y": 221
        },
        {
            "key": "z",
            "loc_x": 295,
            "loc_y": 361
        },
        {
            "key": "enter",
            "loc_x": 1230,
            "loc_y": 310
        },
        {
            "key": "ctrl",
            "loc_x": 129,
            "loc_y": 449
        },
        {
            "key": "alt",
            "loc_x": 338,
            "loc_y": 434
        },
        {
            "key": "win",
            "loc_x": 249,
            "loc_y": 432
        },
        {
            "key": "shift",
            "loc_x": 100,
            "loc_y": 378
        },
        {
            "key": "tab",
            "loc_x": 108,
            "loc_y": 219
        },
        {
            "key": "fn",
            "loc_x": 73,
            "loc_y": 432
        },
        {
            "key": "space",
            "loc_x": 677,
            "loc_y": 461
        },
		{
            "key": "up",
            "loc_x": 1166,
            "loc_y": 361
        }
    ]
}